.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;

}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  margin: 0 auto 5px;
  height: 200px;
}

.fighter-preview___information {
  margin: 0 auto;
  background-color: rgba(253, 24, 24, 0.918);
  font-size: 20px;
  text-align: center;
  width: 50%;
  padding: 10px;
  color: white;
  line-height: 25px;
  list-style-type: none;


}

.fighter-preview___information__text:first-child {
  color: yellow;
  font-size: 24px;
  text-transform: uppercase;
}